<body>
<h1 class="text-center">
  <img src=<%=current_user.image%> alt="..." class="rounded-circle">
  Sup <%= current_user.name %>!</h1>
<div>
  <h3 class="text-center"> Your Carbon Footprint Is: </h3>
</body>

<body>

</body>
