<section id="user-header">
  <div class="jumbotron text-center">
    <h1 class="display-3">
      <img src=<%=current_user.image%> alt="No Image" class="rounded-circle">
      Hello <%= current_user.name %>!</h1>
  </div>
  <div>
    <h3 class="text-center"> Your Carbon Footprint Is: </h3>
  </div>
</section>

<section id="charts">
  <div id="color-key-left">

  </div>

  <div id="graph">
    <%# <%= column_chart @footprints.group_by_month(:month, format: "%b", messages: {empty: 'You have no footprint data'}) %> %>
    <p>You have no footprint data</p>
    -- Graph in the middle --
  </div>

  <div id="top-five-right">
    -- Top 5 on the right
  </div>
</section>

<section id='user-carbon-data' class="text-center p-5">
<div class='container-lg'>
  <button class="btn btn-group">
    <button class="btn btn-success">
      <a class="btn btn-success" href="/leader_board">Visit Leader Board Here</a>
    </button>
    <button class="btn btn-success">
      <a class="btn btn-success" href='/carbon_calculator'>Input Vehicle Data Here</a>
    </button>
  </button>
  </div>
</section>
