<h1>Welcome to CarbonKnight</h1>

<% if !current_user %>
  <%= link_to 'Login with Google', "/auth/google_oauth2" %>
<% end %>

<h3>CarbonKight is a way for you to track your carbon footprint over time</h3>
