<div id="bg-image-no-repeat" class="jumbotron text-center">
  <img src="https://user-images.githubusercontent.com/45305677/104370520-d9922b80-54d3-11eb-9b33-5938ce191b3b.png" class="img-fluid">
  <h1 class="display-3">Welcome to CarbonKnight</h1>
  <p class="lead">CarbonKight is a way for you to track your carbon footprint over time</p>
</div>

<div class='container'>
  <div class='row justify-content-center'>
    <div class="card gutter10 bg-light mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Input Recent Travel Information</h4>
        <p class="card-text">Add recent travel information like the trip distance and your vehicle's miles-per-gallon</p>
      </div>
    </div>
    <div class="card gutter10 bg-light mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">View Your Carbon Footprint</h4>
        <p class="card-text">The app compiles your travel data and returns your carbon footprint by month</p>
      </div>
    </div>
    <div class="card gutter10 bg-light mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">See Your Footprint Over Time</h4>
        <p class="card-text">Your footprints will be presented in a graph so you can see if you're improving</p>
      </div>
    </div>
  </div>
</div>
