<div id="bg-image-no-repeat" class="jumbotron text-center">
  <img src="https://user-images.githubusercontent.com/45305677/104275786-65667200-5458-11eb-8134-d2f939e188f5.png" class="img-fluid">
  <h1 class="display-3">Welcome to CarbonKnight</h1>
  <p class="lead">CarbonKight is a way for you to track your carbon footprint over time</p>
</div>
