<div class="jumbotron text-center" style='margin-bottom: .3rem'>
  <div class='footprint-header'>
    <h5 class="display-4" id='resources-header'>
      Your Previous Carbon Footprints</h5>
  </div>
</div>