/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*/
@import "bootstrap";

.page-container {
  position: relative;
  min-height: 100vh;
}

nav {
  background-color: #ffffff;
  min-height: 65px;
}

body {
}

.container-narrow {
  background-color: #FFFFFF;
}

a {
  color: #407056;
}

a:hover {
  color: #ADE28A;
}

.footer-link:hover {
  color: #407056;
}

.side-bg-color {
  background-color: #1E425E;
}

.jumbotron {
  background-image: url("https://user-images.githubusercontent.com/45305677/104353603-ed7e6300-54bc-11eb-9b99-833a83717471.png");
}

